.Article {
    padding: 20px;
    background-color: #282c34;
    position: fixed;

}

.Article-title {
    padding: 20px;
    position: fixed;
    top: 80px;
    left: 20px;
    background-color: darkcyan;
    max-width: 80%;
    font-size: 4vw;
}

.Article-image {
    width: 100%;
}

.Article-text {
    padding: 20px;
    position: absolute;
    top: 50vh;
    left: 12vw;
    background-color: cadetblue;
    max-width: 78vw;
    font-size: 1em;

}

.Article-text a:link {
    text-decoration: none;
    color: lightsteelblue;
}

.Article-text a:visited {
    text-decoration: none;
    color: lightsteelblue;
}

.Article-text a:hover {
    color: black;
    background-color: darkslategray
}

.Top-banner {
    position: fixed;
    min-width: 100%;
    min-height: 20px;
    background-color: #282c34;
}